<% include ../partials/header %>

<div class="row">

  <main class="col-sm-8 col-md-9 mt-4">
    <div class="card">
      <!-- <img class="card-img" src="<%= user.image %>" alt="<%= user.name %>"> -->
      <div class="card-body">
        <h3 class="card-title"><%= user.username %></h3>
        <p><%= user.info %></p>
        <% if(currentUser && user._id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
          <div class="float-right">
            <a class="btn btn-sm btn-warning" href="/users/<%= user._id %>/edit">Edit Profile</a>
            <form class="" action="/users/<%= user._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete Profile</button>
            </form>
          </div>
        <% } %>

      </div>
    </div>
  </main>

  <aside class="col-sm-4 col-md-3 mt-4">
    <div class="mb-3 list-group">
      <li class="list-group-item active">User Stores</li>
      <% stores.forEach(store => { %>
        <li class="list-group-item"><a href="/stores/<%= store._id %>"><%= store.name %></a></li>
      <% }) %>
    </div>
  </aside>

</div>

<% include ../partials/footer %>